/* register page */
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 50px;
}

.form-container .form {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 25px 50px;
  background-color: #fff;
  width: 400px;
}

.form-container form .title {
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}

.form-container form input {
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
  padding: 5px 0 5px 0;
  cursor: text;
}

.form-container form small {
  cursor: pointer;
}
.form-container form button {
  border: 1px solid #000;
  border-radius: 0;
  background-color: #000;
  color: #fff;
}

.form-container form button:hover {
  border: 1px solid #000;
  background: #000;
  background: -webkit-linear-gradient(to right, #434343, #000);
  background: linear-gradient(to right, #434343, #000);
}
