.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* remove the gap so it doesn't close */
}

.dropdown-menu[data-bs-popper],
.dropdown-menu {
  top: 100%;
  right: 0;
  margin-top: var(--bs-dropdown-spacer);
}
